<h1>Posts</h1>

<ul class="list-unstyled">
  {{#each model as |post|}}
    <li>
      {{#link-to 'post' post.id}}
        {{post.title}}
      {{/link-to}}
      by {{post.author.name}}
    </li>
  {{/each}}
</ul>